body{
    width: 82%;
    margin-left: 5%;
}
div.layout{
    position: absolute;
    height:20px;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 6px;

}

div.marquee{
    height: 20px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: marquee 50s linear infinite;
    animation: marquee 50s linear infinite; 
    -moz-animation: marquee 50s linear infinite;
    font-size: 18px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.marquee:hover {
    -webkit-animation-play-state: paused; 
    animation-play-state: paused; 
    -moz-animation-play-state: paused;
}

span:hover{
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;

}
img{
    padding-left: 20px;
    padding-right: 20px;
}

@-webkit-keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}


@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}   

div h3 {
    font-size: 18px;
    padding: 15px 0px 0px 10px;
}

#date {
    font-size: 13px;
    color: gray;
    padding:20px 0px 20px 10px;
}

.news {
    background-color: lightgrey;
    overflow: auto;
    border-radius: 6px;
    border: 1px solid grey;
} 

.news p {
    font-size: 17px;
    line-height: 1.4;
    padding-left: 10px;
}

.LeBronPic img{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px 2px 0px 10px;
    padding: 2px;
    float: right;
    background-color: white;
    border: 1px solid grey;
    opacity:1;
}

.LeBronPic:hover{
    cursor: pointer;
    cursor: hand;
}

.description{
    position:absolute;
    left:626px;
    top:204px;
    float: right;
    height:50px;
    line-height: 50px;
    width:200px;
    color:white;
    background-color: grey;
    text-align: center;
    opacity:0;
    transition: 1s;
     -webkit-transition: 1s; 
     -moz-transition: 1s;
     -o-transition:1s;

}

    
.LeBronPic:hover .description{
    opacity:1;

}
